<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxk.management.test.dao.TestDao">

    <select id="test1" parameterType="string" resultType="string">
        select sex
        from xxk_reg_user
        where id='a49c185e-cb07-408c-baff-b244a3570171'
        and deleteFlag='0';
    </select>
</mapper>