<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxk.management.station.dao.StationDao">
    <sql id="columns">id,workstation_ident,workstation_name,workstation_state,location_office_id,mediaOfLANId,workstation_deployment_status,
      workstation_deployment_date,related_flag,workstation_related_id,workstation_location,workstation_flag,workstation_auditing_mark,reject_date,
      remark,keyWord,createUserId,createDate,updateUserId,updateDate,deleteFlag</sql>

    <resultMap id="office_nameMap" type="java.util.HashMap">
        <id column="id" property="value" jdbcType="VARCHAR"/>
        <result column="belong_to_id" property="belong_to_id" jdbcType="VARCHAR"/>
        <result column="office_property" property="office_property" jdbcType="VARCHAR"/>
        <result column="office_function" property="office_function" jdbcType="VARCHAR"/>
        <result column="office_name" property="text" jdbcType="VARCHAR"/>
        <result column="office_ident" property="id" jdbcType="VARCHAR"/>
        <result column="pinYin_code" property="pinYin_code" jdbcType="VARCHAR"/>
        <result column="pinYinS_code" property="pinYinS_code" jdbcType="VARCHAR"/>
        <result column="wuBiS_code" property="wuBiS_code" jdbcType="VARCHAR"/>
    </resultMap>

    <!--获取分页 -->
    <select id="listWorkstation" resultType="com.xxk.management.station.entity.Station">
        select
        <include refid="columns"></include>
        from xxk_offices_workstation where deleteFlag='0' ORDER BY createDate desc limit #{0},#{1};
    </select>

    <select id="getOfficeSelect" resultMap="office_nameMap">
        select id,belong_to_id,office_property,office_function,office_name,office_ident,pinYin_code,pinYinS_code,wuBiS_code
        from xxk_offices where deleteFlag='0';
    </select>

    <select id="getWorkstationCount" parameterType="string" resultType="int">
        select count(belong_to_id)
        from xxk_offices_workstation where belong_to_id=#{0} and deleteFlag='0';
    </select>

    <!--添加信息 -->
    <insert id="addWorkstation" parameterType="com.xxk.management.station.entity.Station">
        insert into xxk_offices_workstation(<include refid="columns"></include>) values(
        #{id},#{workstation_ident},#{workstation_name},#{workstation_state},#{location_office_id},#{mediaOfLANId},#{workstation_deployment_status},
        #{workstation_deployment_date},#{related_flag},#{workstation_related_id},#{workstation_location},#{workstation_flag},#{workstation_auditing_mark},
        #{reject_date},#{remark},#{keyWord},#{createUserId},#{createDate},#{updateUserId},#{updateDate},#{deleteFlag});
    </insert>

    <!--修改信息 -->
    <update id="updateOffices" parameterType="com.xxk.management.office.offices.entity.Offices">
        update xxk_offices set office_name=#{office_name},leading_official=#{leading_official},keyWord=#{keyWord},
        updateUserId=#{updateUserId},updateDate=#{updateDate} where id=#{id} and deleteFlag='0';
    </update>


</mapper>